:root {
  --head-bar-height: 40px;
  --sidebar-width: 80px;

  --battery-info-panel-width: 300px;
}

.battery-screen {
  height: 100%;
}

/***************************************
Head bar.
****************************************/
.battery-screen-head-bar {
  background-color: rgb(41, 39, 39);
  width: 100%;
  height: var(--head-bar-height);
  min-width: 600px;
  position: fixed;
}

/***************************************
Side bar.
****************************************/
.side-bar-area {
  height: 100%;
  background-color: rgb(64,67,67);
  width: var(--sidebar-width);
  margin-top: var(--head-bar-height);
  position: fixed;
}

/***************************************
Main area.
****************************************/
.battery-area {
  width: 100%;
  height: 100%;
  padding-top: var(--head-bar-height);
  padding-left: var(--sidebar-width);
}


.battery-info-panel {
  width: var(--battery-info-panel-width);
  margin-top: 5px;
  margin-left: 5px;
}
.battery-info-panel-item {
  width: var(--battery-info-panel-width);
  height: 40px;
  
  border:1px solid rgb(240, 236, 236);
}
.battery-info-panel-item-title {
  height: 100%;
  display: flex;
  float: left;
  align-items: center;
  margin-left: 5px;
}
.battery-info-panel-item-icon {
  height: 100%;
  display: flex;
  float: right;
  align-items: center;
  margin-right: 5px;
}